@import "base";
@import "mixin";

.title{
    background: rgba(0, 0, 0, 0.02);
    // background: red;
    .titleContent{
        @include main;
        line-height: 40px;
    }
}
.details{
    .detaContent{
        @include main;
        padding-top:40px; 
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        .left{
            margin-bottom: 24px;
            position: relative;
            .bigImg{
                width: 438px;
                height: 438px;
                border: 1px solid black;
                margin-bottom: 16px;
                >li{
                    position: absolute;
                    width: 438px;
                    height: 438px;
                    opacity: 0;
                    >img{
                        width: 100%;
                    }
                }
                .active{
                    opacity: 1;
                    z-index: 100;
                    transition: 2s;
                }
            }
            .smallImg{
                position: relative;
                height: 80px;
                width: 360px;
                // background: red;
                margin-left: 40px;
                >span{
                    display: block;
                    // background: red;
                    position: absolute;
                    width: 26px;
                    height: 26px;
                    line-height: 26px;
                    text-align: center;
                    color: #ccc;
                    border: 1px solid #ccc;
                    border-radius: 26px;
                    top: 40px;
                    cursor: pointer;
                    &:nth-child(1){
                        left: -40px;
                    }
                    &:nth-child(2){
                        right: -30px;
                    }

                }
                .imgListCon{
                    position: relative;
                    overflow: hidden;
                    width: 360px;
                    height: 80px;
                    .imgList{
                        display: flex;
                        position: absolute;
                        justify-content: space-between;
                        width:450px;
                        >li{
                            border:1px solid rgba(0, 0, 0, 0.05);
                            width: 78px;
                            height: 78px;
                            // margin-right: 10px;
                            >img{
                                width: 100%
                            }
                        }
                    }
                }
            }
        }
        .right{
            width: 723px;
            >li{
                span{
                    display: inline-block;
                }
                &:nth-child(1){
                    display: flex;
                    justify-content: space-between;
                    span{
                        line-height: 26px;
                        font-size: 20px;
                        font-weight: 700;
                    }
                    span:nth-child(2){
                        color: #F04146;

                    }
                }
                &:nth-child(2){
                    line-height: 26px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }
                &:nth-child(3){
                    line-height: 19px;
                    color: #F04146;
                    text-decoration: underline;
                    margin-bottom: 16px;
                }
                &:nth-child(4){
                 padding-top: 8px;
                //  background: url('http://127.0.0.1/src/img/detailsBack.jpg') no-repeat;
                 height: 159px;   
                //  background-size: 100%;
                 padding-left: 16px;
                    >h1{
                        padding-bottom: 20px;
                        >span{
                            &:nth-child(1){
                                color: #F04146;
                                // font-size: 12px;
                            }
                            &:nth-child(2){
                                color: #F04146;
                                font-size: 28px;
                                font-weight: 700;
                            }
                            &:nth-child(3){
                                color: #ccc;
                                text-decoration: line-through;
                                // font-size: 12px;
                            }
                        }
                    }
                    >dl{
                        display: flex;
                        >dt{
                            width: 54px;
                            color: #999;
                        }
                        >dd{
                            >dl{
                                height: 18px;
                                line-height: 18px;
                                display: flex;
                                margin-bottom: 9px;
                                >dt{
                                    color: white;
                                    background: #EF4146;
                                    padding: 0 7px;
                                    margin-right: 8px;
                                }
                            }
                        }
                        &:nth-child(1){
                            margin-bottom: 8px;
                        }
                        &:nth-child(2){
                            margin-bottom: 20px;
                        }
                    }
                }
                &:nth-child(5){
                    padding-top: 20px;
                    margin-bottom: 20px;
                    >dl{
                        display: flex;
                        >dt{
                            margin-right: 24px;
                            color: #999999;
                            line-height: 44px;
                        }
                        >dd{
                            width: 78px;
                            height: 36px;
                            border: 1px solid red;
                            border-radius: 3px;
                            line-height: 36px;
                            text-align: center;
                        }
                    }

                }
                &:nth-child(6){
                    padding-bottom: 36px;
                    >dl{
                        display: flex;
                        >dt{
                            line-height: 27px;
                            color:#999999;
                            margin-right: 24px;
                        }
                        >dd{
                            >span{
                                display: inline-block;
                                height: 27px;
                                line-height: 27px;
                                text-align: center;
                                border: 1px solid #E1E1E1;
                                &:nth-child(1){
                                    width: 18px;
                                    cursor: pointer;
                                }
                                &:nth-child(2){
                                    width: 52px;
                                    margin-left: -5px;
                                }
                                &:nth-child(3){
                                    width: 20px;
                                    margin-left: -5px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                &:nth-child(7){
                    >span{
                        display: inline-block;
                        color: white;
                        width: 146px;
                        height: 48px;
                        margin-right: 20px;
                        line-height: 48px;
                        text-align: center;
                        border-radius: 5px;
                        cursor:pointer;
                        &:nth-child(1){
                            background-image: linear-gradient(90deg, #FFBC79, #FF695C);
                        }
                        &:nth-child(2){
                            background-image: linear-gradient(90deg, #FF5055, #FF3030);
                        }
                    }
                }
            }
        }
        .recoTitle{
            height: 49px;
            padding-left: 28px;
            background: rgba(216, 216, 216, 0.1);
            line-height: 49px;
            width: 1178px;
            // position: relative;
            font-size: 20px;
        }
        .recoList{
            position: relative;
            height: 211px;
            margin-bottom: 20px;
            width: 1130px;
            // background: red;
            margin-left: 40px;
            >span{
                display: block;
                // background: red;
                position: absolute;
                width: 26px;
                height: 26px;
                line-height: 26px;
                text-align: center;
                color: #ccc;
                border: 1px solid #ccc;
                border-radius: 26px;
                top: 40px;
                cursor: pointer;
                &:nth-child(1){
                    left: -40px;
                }
                &:nth-child(2){
                    right: -30px;
                }

            }
            .recoListCon{
                width: 1130px;
                overflow: hidden;
                height: 211px;
                // border: 1px solid red;
                position: relative;
                .imgList{
                    display: flex;
                    position: absolute;
                    width: 2355px;
                    justify-content: space-between;
                    >li{
                        width: 140px;
                        height: 140px;
                        margin-right: 10px;
                       >a{
                        >img{
                            width: 140px;
                        }
                        >p{
                            line-height: 19px;
                            margin: 8px 0;
                        }
                        >span{
                            color: red;
                        }
                       }
                    }
                }
                }   
            }
        .infoTitle{
            width: 1206px;
            background: rgba(216, 216, 216, 0.1);
            >li{
                height: 60px;
                line-height: 60px;
                width: 184px;
                font-size: 20px;
                float: left;
                text-align: center;
            }
            .active{
                color:red;
            }
        }
        .infoImg{
            >li{
                width:1208px;
                >img{
                    width: 100%;
                }
            }
        }
    }
    
}