header {
    // padding: 20px 0px;
    >dl {
        display: flex;
        justify-content: space-between;
        background: #F6F9FB;
        padding: 0px 74.5px;
        dd {
            display: flex;
            justify-content: space-between;
            width: 517px;
            height: 40px;
            line-height: 40px;
        }
        dt {
            display: flex;
            justify-content: space-between;
            width: 180px;
            height: 56px;
            line-height: 56px;
            >li {
                display: block;
                width: 75px;
                text-align: center;
                >dl {
                    >dt {
                        >i {
                            position: absolute;
                            top: 0px;
                            right: 70px;
                        }
                    }
                    &:hover {
                        >dt {
                            span {
                                color: #EF4146;
                            }
                        }
                    }
                    >dd {
                        display: none;
                        border: 1px solid #ddd;
                        // display: block;
                        z-index: 3;
                        background: white;
                        width: 154px;
                        height: 180px;
                        position: absolute;
                        right: 10px;
                        text-align: center;
                        >li {
                            line-height: 30px;
                            cursor: pointer;
                            &:nth-child(1) {
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                background: white;
                                border-top: 1px solid #ddd;
                                border-left: 1px solid #ddd;
                                transform: rotate(45deg);
                                z-index: -1;
                                left: 65px;
                                top: -11px;
                            }
                            &:last-child {
                                border-top: 1px solid #efefef;
                            }
                            &:hover {
                                background: #FF5055;
                                &:first-child {
                                    background: white;
                                }
                            }
                        }
                    }
                }
            }
            .active {
                display: none;
            }
        }
    }
    .topTitle {
        .list {
            // background: red;
            height: 64px;
            margin: 0px 74.5px;
            >dl {
                display: flex;
                justify-content: space-between;
                >dt {
                    width: 556px;
                    display: flex;
                    justify-content: space-between;
                    >li {
                        height: 64px;
                        line-height: 64px;
                        font-size: 16px;
                        margin: 0px 11px;
                        .indexlogo {
                            width: 185px;
                        }
                    }
                }
                >dd {
                    width: 300px;
                    height: 64px;
                    line-height: 64px;
                    >input {
                        width: 216px;
                        padding: 10px 16px;
                        border: none;
                        border: 1px solid #ccc;
                        border-radius: 5px 0px 0px 5px;
                    }
                    >span {
                        display: inline-block;
                        height: 35px;
                        width: 44px;
                        border: 1px solid #ccc;
                        vertical-align: middle;
                        line-height: 34px;
                        margin-left: -5px;
                        margin-top: -2px;
                        border-radius: 0px 5px 5px 0px;
                        text-align: center;
                    }
                }
            }
        }
        // 下拉菜单
        .manuList {
            display: none;
            background: white;
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 0px;
            padding: 7px 0px 20px 0px;
            >span {
                font-size: 40px;
                color: #ccc;
                position: absolute;
                top: 60px;
                cursor: pointer;
                &:nth-child(1) {
                    left: 100px;
                }
                &:nth-child(2) {
                    right: 100px;
                }
            }
            .manu {
                position: relative;
                justify-content: space-between;
                width: 1000px;
                left: 0px;
                right: 186px;
                height: 186px;
                margin: auto;
                overflow: hidden;
                // border: 1px solid black;
                >ul {
                    // width: ;
                    width: 2150;
                    position: absolute;
                    display: flex;
                    >li {
                        z-index: 11;
                        // margin-right: 75px;
                        >a {
                            display: block;
                            // width: 200px;
                            // background: white;
                            margin-right: 75px;
                            img {
                                width: 140px;
                                height: 140px;
                            }
                            p {
                                margin-top: 4px;
                                text-align: center;
                                &:nth-of-type(2) {
                                    color: #EF4146;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 底部
footer {
    background: #F9F9FA;
    >ul {
        margin: 0px 70.5px;
        >li {
            &:nth-child(1) {
                display: flex;
                justify-content: space-between;
                padding: 30px 0px 20px 0px;
                >P {
                    width: 620px;
                    height: 20px;
                    display: flex;
                    justify-content: space-between;
                }
                >dl {
                    width: 343px;
                    height: 55px;
                    display: flex;
                    justify-content: space-between;
                    >dt {
                        text-align: center;
                        display: inline-block;
                        width: 126px;
                        height: 34px;
                        border-radius: 17px;
                        border: 1px solid black;
                        line-height: 34px;
                        >i {
                            font-size: 18px;
                        }
                    }
                    >dd {
                        >span {
                            display: block;
                            &:nth-child(1) {
                                font-size: 28px;
                                line-height: 32px;
                            }
                            &:nth-child(2) {
                                margin-top: 6px;
                                line-height: 17px;
                                text-align: right;
                                color: #A7A7A7;
                            }
                        }
                    }
                }
            }
            &:nth-child(2) {
                text-align: right;
                p {
                    &:nth-child(1) {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 22px;
                    }
                    &:nth-child(2) {
                        margin-top: 6px;
                        line-height: 17px;
                        color: #A7A7A7;
                    }
                }
            }
            &:nth-child(3) {
                padding: 10px 0px;
                background: #FCFCFD;
                color: #B0B0B0;
                line-height: 20px;
                >dl {
                    display: flex;
                    justify-content: space-between;
                    >dt {
                        display: flex;
                        justify-content: space-between;
                        width: 197px;
                        i {
                            font-size: 20px !important;
                        }
                        >li:nth-child(4) {
                            img {
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//右侧固定部位
.rightFixed {
    z-index: 2;
    position: fixed;
    top: 125px;
    right: 0;
    width: 56px;
    height: 300px;
    >ul {
        >li {
            width: 54px;
            height: 58px;
            border: 1px solid #efefef;
            background: rgba(255, 255, 255, 0.8);
            text-align: center;
            line-height: 58px;
            >i {
                font-size: 24px !important;
                color: #363636 !important;
            }
            >span {
                display: none;
                padding: 10px 5px;
                width: 49px;
                background: #EF4146;
                height: 38px;
                line-height: 38px;
                text-align: center;
                font-size: 12px;
                right: -3px;
                cursor: pointer;
                // top: 1px;
                // background: black;
                position: absolute;
                color: white;
                >i {
                    display: block;
                    line-height: 16px;
                }
            }
            >b {
                display: block;
                border: 1px solid #efefef;
                width: 111px;
                // height: 120px;
                position: absolute;
                right: 56px;
                background: white;
                top: 0px;
                display: none;
                >img {
                    margin-top: 10px;
                    width: 80px;
                    height: 80px;
                }
                >i {
                    // margin-top: -10px;
                    display: block;
                    font-size: 12px;
                    line-height: 17px;
                }
            }
            &:nth-child(1) {
                >span {
                    top: 1px;
                }
            }
            &:nth-child(3) {
                >b {
                    top: 64px;
                }
            }
            &:nth-child(4) {
                >a {
                    i {
                        font-size: 22px !important;
                    }
                }
            }
            &:nth-child(5) {
                >span {
                    top: 241px;
                }
            }
            &:nth-child(6) {
                display: none;
            }
            &:hover {
                background: #EF4146;
            }
        }
    }
}